// Ejemplo de componente con BEM
@import "../base/basic";

.demo-card {
  position: relative;
  height: 90vh; // SubComponentes
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__filter {
    @include overlay;
    display: block;
    background: rgba($black, 0.4);
    mix-blend-mode: multiply; // background-blend-mode: multiply;
  }
  &__content {
    @include overlay;
    color: $white; // display: grid;
    display: grid;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__title {
    font-size: 8rem;
    line-height: 1.2;
    font-weight: bold;
  }
  &__title,
  &__price {
    color: $white;
  }
}

// Variables
.demo-card--small {
  @extend .demo-card;
  max-height: 50vh;
}

