<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Accesorios</h2>
    </div>
    <div class="inner-scroll">
      <h4 class="title is-5">Accesorios Hyundai originales</h4>
      <div class="paddme20">
        <p class="lefty">Creamos cada Hyundai para que sea el mejor. Pero con nuestros accesorios puedes hacer a tu Hyundai ÚNICO. Equipar a tu Hyundai con nuestros Accesorios Originales es usar tu imaginación, hacer una declaración e integrarla a tu estilo de vida.<br>
        No hay respuestas incorrectas, solo una serie de emocionantes opciones.</p>
        <p class="lefty">El resultado es aún mejor que un Hyundai porque es TU Hyundai</p>
      </div>

      <div class="bx_form">
        <h5 class="title is-6">Información de contacto</h5>
        <span>Deja tus datos y te enviaremos la información que necesitas</span><br><br>
        <generic-form/>
      </div>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/GenericForm'

export default {
  head() {
    return {
      title: 'Accesorios',
    }
  },
  components: {
    GenericForm,
  },
}
</script>

<style lang="css">
</style>
