<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">
      <div class="autos-nuevos">
        <div class="category">
          <h3 class="title is-5">Autos</h3>
          <div class="auto">
            <nuxt-link to="/autos/grandi10">
              <div class="bx_header">2018</div>
              <div class="car_name">Grand i10</div>
              <div class="bx_precio">Desde: $164,500</div>
              <div class="photo">
                <img src="/images/autos/grandi10.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/grandi10-sedan">
              <div class="bx_header">2018</div>
              <div class="car_name">Grand i10 Sedán</div>
              <div class="bx_precio">Desde: $181,700</div>
              <div class="photo">
                <img src="/images/autos/grandisedan.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/accent">
              <div class="bx_header">2018</div>
              <div class="car_name">Accent</div>
              <div class="bx_precio">Desde: $224,300</div>
              <div class="photo">
                <img src="/images/autos/accent.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/accent-hb">
              <div class="bx_header">2018</div>
              <div class="car_name">Accent HB</div>
              <div class="bx_precio">Desde: $226,800</div>
              <div class="photo">
                <img src="/images/autos/accenthb.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/ioniq">
              <div class="bx_header">2018</div>
              <div class="car_name">Ionic</div>
              <div class="bx_precio">Desde: $389,600</div>
              <div class="photo">
                <img src="/images/autos/ioniq.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
        <div class="category">
          <h3 class="title is-5">Suvs</h3>

          <div class="auto">
            <nuxt-link to="/autos/tucson">
              <div class="bx_header">2018</div>
              <div class="car_name">Tucson</div>
              <div class="bx_precio">Desde: $379,600</div>
              <div class="photo">
                <img src="/images/autos/tucson.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/creta">
              <div class="bx_header">2018</div>
              <div class="car_name">Creta</div>
              <div class="bx_precio">Desde: $300,200</div>
              <div class="photo">
                <img src="/images/autos/creta.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/santafe-sport">
              <div class="bx_header">2018</div>
              <div class="car_name">Santa Fe Sport</div>
              <div class="bx_precio">Desde: $354,900</div>
              <div class="photo">
                <img src="/images/autos/santafesport.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/santafe">
              <div class="bx_header">2018</div>
              <div class="car_name">Santa Fe</div>
              <div class="bx_precio">Desde: $645,900</div>
              <div class="photo">
                <img src="/images/autos/santafe.png" >
              </div>
            </nuxt-link>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"

</style>
